<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%= @place.latitude%>, <%= @place.longitude%>)
    });
    </script>
<% end %>

<div class="jumbotron text-center" style="margin: auto; background-color:#298689; color: black; font-family: tahoma; font-size: 10rem;";>
  <h1 style="font-size: .25em;;"><strong>Where's <%= @place.name %>?</strong></h1>



</div>

  <div id="map" style="height: 40rem; margin: auto;"></div>

  <%= button_to [:set_location, @place], class: "btn btn-primary btn-lg btn-block", style: "background-color: #7AC53A; height: 7rem;" do %>
    <h2>Set Location</h2>
  <% end %>

  <div class=" jumbotron text-center" style="background-color:#298689;">
    <h3 style="color: black;">Last Updated: <%= @place.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%a %B %d at %I:%M%p") %></h3>
    <p id="notice"><%= notice %></p>

  </div>
